*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body{
    font-family: sans-serif;
}

:root {
    --lightgrey: rgb(95, 95, 95);
    --button-color: rgb(252, 32, 10);
    --background-grey: rgb(240, 235, 235);
    --color-white: white;
    --color-black: black;
    --background-turqouise: #00DFB7;
    --carousel-buttons:#F0EBEB;
}

p {
    color: var(--lightgrey);
}

a {
    color: var(--color-black);
}

button {
    background-color: var(--button-color);
    color: var(--color-white);
    border: none;
    width: 8em;
    height: 5em;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.9em;
}

/*box-shadow code van: https://html-css-js.com/css/generator/box-shadow/ */
button:hover {
    background-color:var(--color-white);
    color:var(--button-color);
    box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.3);
}

h4 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.6em;
    margin-top: 2em;
}

h1 {
    font-size: 2em;
    color: var(--color-white);
}

.toplink{
    display: flex;
    justify-content: center;
    color: var(--color-white);
    background-color:var(--background-turqouise);
    padding: 1em;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
}

.homepagemain ul {
    margin: 2.25em;
}

li {
    line-height: 1.75em;
    color:var(--lightgrey)
}

.homepagemain strong {
    color:var(--color-black)
}

.homepagemain img {
    border-radius: 5px 5px 0px 0px;
}

/*nav*/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0.5em;
}

nav img {
    width: 4em;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    list-style: none;
}

nav li:last-of-type {
    background-color: var(--button-color);
    color:var(--color-white);
    padding: .75em;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.9em;
}

nav ul a {
    color:var(--color-black);
    font-size: 1.25em;
}

nav button {
    position: absolute;
    top: 4.25em;
    right: 5rem;
}

@media (max-width: 525px) {
    nav button {
        position: absolute;
        top: 5.25em;
    }
}

nav ul a {
    text-decoration: none;
    padding: 1rem;
    display: block;
}

nav ul a:hover {
    color:var(--button-color)
}

.wrapper {
    display: none;
    width: 90%;
    margin: 0 auto;
}

.container {
    position: absolute;
    top: 4em;
    right: 1em;
    height: 25px;
    width: 40px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer; 
}

.menulogo {
    height: 3px;
    width: 30px;
    background-color:var(--button-color)
}

@media (min-width: 1200px) {
    nav button {
        display: none;
    }

    section:nth-of-type(2) {
        margin: auto;
    }

}

@media (max-width: 1200px) {
    .wrapper {
        display: flex;
    }

    nav ul {
        display: none;
        border-top: solid 1px lightgray;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li a {
        padding: 1em 1em;
        font-size: 1.5em;
    }

    .nav-links.open {
        display: flex;
    }

    nav li:last-of-type {
        display: none;
    }
    

}
/*nav end*/

/*section 1 homepage*/
.welkom {
    padding: 10vh 0;
    background-image: url(../images/Homepage_header_Circuit3.webp);
    background-repeat: no-repeat;
    background-size: 500px 320px;
    background-position: center;
}

.homepagemain section:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    line-height: 3em;
}

.homepagemain section:nth-of-type(1) button {
    border-radius: 5px;
    border: none;
    background-color: var(--background-turqouise);
    margin-left: 1em;
}

.homepagemain section:nth-of-type(1) a {
    color:var(--color-white);
    text-decoration: none;
    font-size: 1em;
}

@media (max-width: 750px) {
    .homepagemain section:nth-of-type(1) button {
        height: 4em;
        width: 5em;
    }

    .homepagemain section:nth-of-type(1) {
        display: flex;
        justify-content: flex-start;
        padding-left: 1em;
    }

    input[type="search"] {
        border: none;
        border-radius: 5px;
        width: 15em;
        height: 4em;
    }
}

@media (min-width: 750px)  {
    .welkom {
        background-size: 1450px 800px;
        padding-top: 12em;
        padding-bottom: 12em; 
    }

    .homepagemain section:nth-of-type(1) {
        align-items: center;
    }

    .homepagemain section:nth-of-type(1) h1 {
        font-size: 3em;
        padding-right: 3.2em;
    }

    .homepagemain section:nth-of-type(1) a {
        padding-right: 29em;
    }

    input[type="search"] {
        border: none;
        border-radius: 5px;
        width: 35em;
        height: 5em;
    }

}

@media (min-width: 1652px) {
    .welkom {
        background-size: 1450px 800px;
        padding-top: 12em;
        padding-bottom: 12em;
        border-left: solid #F0EBEB 240px;
        border-right: solid #F0EBEB 240px;
    }

}

/*section 1 end*/

/*section 2 homepage*/

/*box-shadow code van: https://html-css-js.com/css/generator/box-shadow/ */
.homepagemain section:nth-of-type(2) {
    border-bottom: solid black 2px;
    border-radius: 5px;
    margin-top: 2em;
    box-shadow: 0px 0px 8px 2px #A3A3A3;
}

.homepagemain section:nth-of-type(2) h3 {
    margin-left: 1em;
    margin-top: .8em;
}

.homepagemain section:nth-of-type(2) p {
    font-weight: bold;
    margin: 1.6em;
    color:var(--color-black)
}

.homepagemain section:nth-of-type(2) button {
    margin: 1.5em;
}

.homepagemain section:nth-of-type(2) div {
    justify-content: column;
}

@media (max-width: 750px) {
    .homepagemain section:nth-of-type(2) {
        display: flex;
        flex-direction: column;
        margin: 1em;
    }
}

@media (min-width: 750px) {
    .homepagemain section:nth-of-type(2) img {
        width: 55%;
        object-fit: cover;
        border-top-left-radius: 5px;
    }
}

@media (min-width: 1540px) {
    .homepagemain section:nth-of-type(2) {
        display: flex;
        width: 55%;
        height: 400px;
    }
}

@media (min-width: 750px) and (max-width: 1540px) {
    .homepagemain section:nth-of-type(2) {
        display: flex;
        margin-left: 10%;
        width: 80%;
        height: 400px;
    }

    .homepagemain section:nth-of-type(2) li:nth-of-type(2) {
        padding-bottom: 1em;
    }
}
/*section 2 homepage end*/

/*section 3 homepage*/
.homepagemain section:nth-of-type(3) {
    margin: 1em;
}

@media (min-width: 1540px) {
    .homepagemain section:nth-of-type(3) {
        margin-left: 22.5%;
    }
}

@media (min-width: 750px) and (max-width: 1540px) {
    .homepagemain section:nth-of-type(3) {
        margin-left: 10%;
    }
}
/*section 3*/

/*section 4*/
.homepagemain section:nth-of-type(4) img {
    height: 25%;
    width: 100%;
    object-fit: cover;
}

.homepagemain section:nth-of-type(4) button {
    margin: 1.5em;
}

.abonnement div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
}

.abonnement {
    box-shadow: 0px 0px 8px 2px #A3A3A3;
    border-radius: 5px;
    border-bottom: solid black 2px;
}

.abonnement div ul li {
    font-size: 1.6em;
    list-style: none;
    color:var(--color-black);
    font-weight: bold;
}

.abonnement div ul {
    margin: .5em;
}

.abonnement div ul li:nth-of-type(2) {
    font-size: .85em;
}

h5 {
    color:var(--color-black);
    font-size: 1em;
    margin: 1em;
    margin-bottom: .75em;
}

.abonnement p {
    margin: 1em;
}

@media (min-width: 1540px) {
    .homepagemain section:nth-of-type(4) {
        display: flex;
        width: 55%;
        margin: auto;
        gap: 1em;
    }
}

@media (max-width: 750px) {
    .homepagemain section:nth-of-type(4) .abonnement {
        margin: 1em;
        border-radius: 20px;
    }

} 

@media (min-width: 750px) and (max-width: 1540px) {
    .homepagemain section:nth-of-type(4) {
        display: flex;
        width: 80%;
        margin: auto;
        gap: 1em;
    }
}

/*section 5*/
.homepagemain section:nth-of-type(5) h3 {

    line-height: 2em;
}

.homepagemain section:nth-of-type(5) h4 {
    font-size: 1.2em;
    line-height: 2.5em;
}

.homepagemain section:nth-of-type(5) p {
    line-height: 2em;
}

@media (min-width: 1540px) {
    .homepagemain section:nth-of-type(5) {
        display: flex;
        width: 55%;
        padding-right: 13%;
        margin: auto;
        flex-direction: column;
    }
}

@media (max-width: 750px) {
    .homepagemain section:nth-of-type(5) {
        margin: 1em;
    }
} 

@media (min-width: 750px) and (max-width: 1540px) {
    .homepagemain section:nth-of-type(5) {
        display: flex;
        width: 80%;
        margin: auto;
        padding-right: 18%;
        flex-direction: column;
    }
}

/*carousel*/
.carousel-slide {
    display: flex;
    width: 100%;
    gap: 1em;
    background: linear-gradient(white 50%, black 50%);
    padding-bottom: 3em;
}

.carousel-slide img {
    width: 315px;
    border-radius: 5px;
}

.prevBtn {
    margin-bottom: 2em;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    color:var(--button-color);
    background-color:var(--color-white);
    border:var(--carousel-buttons) 2px solid;
}

.nextBtn {
    margin-bottom: 2em;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    color:var(--button-color);
    background-color:var(--color-white);
    border:var(--carousel-buttons) 2px solid;
}

.prevBtn {
    margin-left: 77.5%;
}

@media (max-width: 750px) {
    .prevBtn {
        margin: 1em;
    }
}
/*carousel end*/

/*section 8 homepage*/
.homepagemain section:nth-of-type(8) {
    padding-bottom: 10em;
}

.homepagemain section:nth-of-type(8) button {
    margin:0
}

.homepagemain section:nth-of-type(8) h3 {
    line-height: 2em;
}

.homepagemain section:nth-of-type(8) p {
    line-height: 2.5em;
    margin-bottom: .75em;
}

@media (min-width: 1540px) {
    .homepagemain section:nth-of-type(8) {
        width: 55%;
        margin: auto;
    }
}

@media (max-width: 750px) {
    .homepagemain section:nth-of-type(8) {
        margin: 1em;
    }
} 

@media (min-width: 750px) and (max-width: 1540px) {
    .homepagemain section:nth-of-type(8) {
        width: 80%;
        margin: auto;
    }
}
/*section 8 end*/

/*section 9 homepage*/

.homepagemain section:nth-of-type(9) {
    position: relative;
    display: flex;
    background-color: var(--color-black);
    flex-direction: column;
    border-top: var(--button-color) 8px solid;
}

.homepagemain section:nth-of-type(9) h3 {
    color:var(--color-white);
    font-size: 2.5em;
    line-height: 2em;
}

.homepagemain section:nth-of-type(9) p {
    color:var(--color-white);
    line-height: 1.75em;
    padding-right: 50%;
}

.homepagemain section:nth-of-type(9) img {
    margin-bottom: 2em;
}

.homepagemain section:nth-of-type(9) button {
    margin: 0;
    margin-top: 2em;
}

.homepagemain section:nth-of-type(9) div a img {
    width: 120px;
}

@media (max-width: 750px) {

    .homepagemain section:nth-of-type(9) {
        align-items: center;
        justify-content: center;
        padding: 2em;
    }

    .homepagemain section:nth-of-type(9) p {
        text-align: center;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    .homepagemain .app {
        position: absolute;
        width: 300px;
        height: 220px;
        left: 50%;
        transform: translate(-50%, -50%);
        top: -2em
    }
} 

@media (min-width: 750px) and (max-width: 1540px) {
    .homepagemain section:nth-of-type(9) {
      padding-left: 10%;
    }
}

@media (min-width: 750px) {
    .homepagemain section:nth-of-type(9) {
        padding: 6em;
    }

    .homepagemain section:nth-of-type(9) h3 {
        margin: 0;
    }


    .homepagemain .app {
        position: absolute;
        width: 525px;
        height: 375px;
        left: 70%;
        transform: translate(-50%, -50%);
        top: -2em
    }
}

@media (min-width: 1540px) {
    .homepagemain section:nth-of-type(9) {
        padding-left: 22.5%;
    }
}
/*section 9 end*/

/*footer*/
footer {
    border-top: 2px solid var(--button-color);
    margin-top: 3em;
    background-color: #F0EBEB;
}

footer section:nth-of-type(1) {
    margin-top: 2em;
    display: flex;
}

footer section:nth-of-type(1) li {
    padding-bottom: 1.5em;
}

footer section li {
    list-style: none;
}

footer section a {
    text-decoration: none;
    font-size: .8em;
    font-weight: bold;
}

footer section:nth-of-type(3) ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

footer section:nth-of-type(3) a {
    color: var(--lightgrey);
}

footer section:nth-of-type(4) {
    display: flex;
    justify-content: flex-end;
    font-size: .8em;
    font-weight: bold;
    color:var(--lightgrey);
    padding-top: 2em;
    padding-bottom: 4em;
}

@media (max-width: 750px) {
    footer {
        padding: 1em;
    }

    footer section:nth-of-type(1) div:first-of-type {
        margin-right: 5em;
    }
}

@media (min-width: 750px) {
    footer section {
        margin-left: 30%;
    }

    footer section:nth-of-type(4) {
        margin-right: 15%;
    }

    footer section:nth-of-type(1) div:first-of-type {
        margin-right: 10em;
    }
}
/*footer end*/

/*groepslessen section 1*/
.groepslessenmain section:nth-of-type(1) {
    padding: 10vh 0;
    background-image: url(../images/New_Project__3_.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px 320px;
}

.groepslessenmain section:nth-of-type(1) h1 {
    margin: .6em;
    font-size: 2em;
    color:var(--color-white);
}

.groepslessenmain section:nth-of-type(1) h2 {
    margin: .6em;
    font-size: 2em;
    color:var(--color-white);
}

@media (min-width: 1652px) {
    .groepslessenmain section:nth-of-type(1) {
        border-left: solid #F0EBEB 240px;
        border-right: solid #F0EBEB 240px;
    }
}

@media (min-width: 750px) {
    .groepslessenmain section:nth-of-type(1) h2 {
        font-size: 3em;
        margin-left: 5em;
        margin-top: 0;
    }

    .groepslessenmain section:nth-of-type(1) h1 {
        font-size: 1.5em;
        margin-left: 10em;
        margin-bottom: 0;
    }

    .groepslessenmain section:nth-of-type(1) {
        background-size: 1450px 900px;
        padding-top: 12em;
        padding-bottom: 12em;;
    }

    .carousel-slide {
        justify-content: center;
    }
}
/*groepslessen section 1 end*/

.groepslessenmain section p {
    line-height: 1.75em;
}

.groepslessenmain section h3 {
    line-height: 1.75em;
}

.groepslessenmain section:nth-of-type(16) button {
    margin: 1em;
}

@media (max-width: 750px) {
    .groepslessenmain section p {
        margin: 1em;
    }

    .groepslessenmain section h3 {
        margin: .7em;
    }
}

@media (min-width: 750px) and (max-width: 1540px) {
    .groepslessenmain section p {
        width: 80%;
        margin: auto;
        padding-right: 18%;
    }

    .groepslessenmain section h3 {
        margin-left: 10%;
    }

    .groepslessenmain section:nth-of-type(16) button {
        margin-left: 10%;
    }
}

@media (min-width: 1540px) {
    .groepslessenmain section p {
        width: 55%;
        padding-right: 10%;
        margin: auto;
    }

    .groepslessenmain section h3 {
        margin-left: 22.5%;
    }

    .groepslessenmain section:nth-of-type(16) button {
        margin-left: 22.5%;
    }
}
